# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Global env files
.env

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS files
Thumbs.db
ehthumbs.db



Back-End/node_modules/
Front-End/node_modules/
Front-End/.next/
Front-End-Client/node_modules/
Front-End-Client/.next/
Front-End-SuperAdmin/node_modules/
Front-End-SuperAdmin/.next/
